<div class="footer-inner wrapper">
    <div class="column-section spaced-big clearfix">
        <div class="column one-third">
            <div class="widget">
                <h3>
                    <strong>Scope Web</strong>
                    <small>Agency</small>
                </h3>
                <div class="spacer-small"></div>
                <p>3333 Broadway<br>
                    NY 10031, New York<br>
                    Tel: +1 570 580 7737</p>
            </div>
            <div class="widget">
                <h5 class="widget-title title-alt">
                    <strong>Project request</strong>
                </h5>
                <p>Stephan Moerman<br>
                    <a href="mailto:stephan@scopeweb.nyc?Subject=Project Request">stephan@scopeweb.nyc</a>
                </p>
            </div>
        </div>
        <div class="column one-third">
            <div class="widget">
                <h5 class="widget-title title-alt">
                    <strong>Last Works</strong>
                </h5>
                <ul class="menu">
                    <li>
                        <a href="{{ base_url }}/case-studies/ultrabse/">Ultrabse</a>
                    </li>
                    <li>
                        <a href="{{ base_url }}/case-studies/bayron/">Bayron Home Improvements</a>
                    </li>
                    <li>
                        <a href="{{ base_url }}/case-studies/gemini/">Gemini Gas Springs</a>
                    </li>
                </ul>
            </div>
            <div class="widget">
                <h5 class="widget-title title-alt">
                    <strong>Connect</strong>
                </h5>
                <ul class="menu">
                    <li>
                        <a href="https://www.facebook.com/ScopeWeb/" target="_blank" rel="noreferrer">Facebook</a>
                    </li>
                    <li>
                        <a href="https://www.twitter.com/scopewebnyc/" target="_blank" rel="noreferrer">Twitter</a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/scopeweb/" target="_blank" rel="noreferrer">Instagram</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="column one-third last-col">
            <div class="widget">
                <h5 class="widget-title title-alt">
                    <strong>Agency</strong>
                </h5>
                <ul class="menu">
                    <li>
                        <a href="{{ base_url }}/about/">About Us</a>
                    </li>
                    <li>
                        <a href="https://www.twitch.tv/scopeweb" target="_blank" rel="noreferrer">Twitch</a>
                    </li>
                    <li>
                        <a href="{{ base_url }}/contact/">Contact</a>
                    </li>
                </ul>
            </div>
            <div class="widget">
                <h5 class="widget-title title-alt">
                    <strong>Latest Posts</strong>
                </h5>
                <ul class="menu">
                {% for post in latest %}
                    <li>
                        <a href="{{ post.link }}">{{ post.title | slice(0, 40) ~ '...' }}</a>
                    </li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
</div>
<script src="//code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
<script src="{{ site.theme.path }}/assets/js/plugins.js" type="text/javascript"></script>
<script src="{{ site.theme.path }}/assets/revolution/js/jquery.themepunch.tools.min.js?rev=5.0" type="text/javascript"></script>
<script src="{{ site.theme.path }}/assets/revolution/js/jquery.themepunch.revolution.min.js?rev=5.0" type="text/javascript"></script>
<script src="{{ site.theme.path }}/assets/revolution/js/extensions/revolution.extension.slideanims.min.js" type="text/javascript"></script>
<script src="{{ site.theme.path }}/assets/revolution/js/extensions/revolution.extension.layeranimation.min.js" type="text/javascript"></script>
<script src="{{ site.theme.path }}/assets/revolution/js/extensions/revolution.extension.navigation.min.js" type="text/javascript"></script>
<script src="{{ site.theme.path }}/assets/revolution/js/extensions/revolution.extension.video.min.js" type="text/javascript"></script>
<script src="{{ site.theme.path }}/assets/revolution/js/extensions/revolution.extension.actions.min.js" type="text/javascript"></script>
<script src="{{ site.theme.path }}/assets/js/jquery.imagesloaded.min.js" type="text/javascript"></script>
<script src="{{ site.theme.path }}/assets/js/jquery.isotope.min.js" type="text/javascript"></script>
<script src="{{ site.theme.path }}/assets/js/jquery.backgroundparallax.min.js" type="text/javascript"></script>
<script src="{{ site.theme.path }}/assets/js/jquery.min.phatvideobg.js" type="text/javascript"></script>
<script src="{{ site.theme.path }}/assets/js/jquery.owl.carousel.min.js" type="text/javascript"></script>
<script src="{{ site.theme.path }}/assets/js/jquery.sticky-kit.min.js" type="text/javascript"></script>
<script src="{{ site.theme.path }}/assets/js/jquery.lightcase.min.js" type="text/javascript"></script>
<script src="{{ site.theme.path }}/assets/js/script.js" type="text/javascript"></script>
<!-- Google font async loading -->
<script type="text/javascript">
  WebFontConfig = {
    google: { families: [ 'Poppins:300,400,500' ] }
  };
  (function() {
    var wf = document.createElement('script');
    wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
    wf.type = 'text/javascript';
    wf.async = 'true';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(wf, s);
  })(); </script>