
<!-- Footer Section Start -->
<footer class="footer">
    <!-- Footer Top Section Start -->
    <div class="footer-sec">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="footer-wedget-one">
                        <a href="#"><img src="img/footer-logo.png" alt=""/></a>
                        <p>Lorem ipsum dolor sit amet, luctus posuere semper felis consectetuer hendrerit, enim varius proi</p>
                        <ul class="contact-info">
                            <li>
                                <i class="fa fa-phone"></i>
                                +1 570 580 7737</li>
                            <li>
                                <i class="fa fa-clock-o"></i>
                                Working Hours:<br>
                                Mon-Sat (8 am - 5 pm)</li>
                        </ul>
                    </div>
                </div>
                <div class="col col-md-3 col-sm-6">
                    <div class="latest-news">
                        <h2>Recent posts</h2>
                        <div class="latest-news-inner">
                            <div class="latest-news-desc">
                                <h3>
                                    <a href="#">Qui te omnes labitur, minim error aliquid qui te.</a>
                                </h3>
                                <ul>
                                    <li>
                                        <span>
                                            <a href="#">5 hours ago</a></span></li>
                                </ul>
                            </div>
                        </div>
                        <div class="latest-news-inner">
                            <div class="latest-news-desc">
                                <h3>
                                    <a href="#">Eam ut sonet timeam sanctus. Vim graecis nusquam.</a>
                                </h3>
                                <ul>
                                    <li>
                                        <span>
                                            <a href="#">8 hours ago</a></span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col-md-3 col-sm-6">
                    <div class="footer-widget-menu">
                        <h2>useful links</h2>
                        <ul>
                            <li>
                                <a href="#">Home</a>
                            </li>
                            <li>
                                <a href="#">About</a>
                            </li>
                            <li>
                                <a href="#">Services</a>
                            </li>
                            <li>
                                <a href="#">Projects</a>
                            </li>
                            <li>
                                <a href="#">Careers</a>
                            </li>
                            <li>
                                <a href="#">Recent news</a>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <a href="#">Testimonials</a>
                            </li>
                            <li>
                                <a href="#">Gallery</a>
                            </li>
                            <li>
                                <a href="#">Case studies</a>
                            </li>
                            <li>
                                <a href="#">Shop</a>
                            </li>
                            <li>
                                <a href="#">Contact us</a>
                            </li>
                            <li>
                                <a href="#">Privacy policy</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="footer-wedget-two">
                        <h2>Newsletter
                        </h2>
                        <p>Get latest updates and offers. Subscribe your Email for weekly Newsletter and business tips</p>
                        <form action="#">
                            <input placeholder="email address" type="email">
                            <button type="submit">
                                <i class="fa fa-paper-plane"></i>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer Top Section End -->
    <!-- Footer Bottom Section Start -->
    <div class="footer-bottom-sec">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-8">
                    <div class="copy-right">
                        <p>&copy; {{"now"|date('Y')}} Scope Web LLC - All rights reserved.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="footer-social">
                        <ul>
                            <li>
                                <a href="https://facebook.com/scopeweb" target="_blank">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://twitter.com/scopewebnyc" target="_blank">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://instagram.com/scopeweb" target="_blank">
                                    <i class="fa fa-instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://dribbble.com/scopeweb" target="_blank">
                                    <i class="fa fa-dribbble"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer Bottom Section End -->
</footer>
<!-- Footer Section End -->
<!-- Scripts Js Start -->
<script src="{{ site.theme.path}}/js/jquery-2.2.4.min.js"></script>
<script src="{{ site.theme.path}}/js/bootstrap.min.js"></script>
<script src="{{ site.theme.path}}/js/isotope.pkgd.min.js"></script>
<script src="{{ site.theme.path}}/js/jquery.magnific-popup.min.js"></script>
<script src="{{ site.theme.path}}/js/owl.carousel.min.js"></script>
<script src="{{ site.theme.path}}/js/owl.animate.js"></script>
<script src="{{ site.theme.path}}/js/jquery.scrollUp.min.js"></script>
<script src="{{ site.theme.path}}/js/jquery.counterup.min.js"></script>
<script src="{{ site.theme.path}}/js/modernizr.min.js"></script>
<script src="{{ site.theme.path}}/js/waypoints.min.js"></script>
<script src="{{ site.theme.path}}/js/jquery.meanmenu.min.js"></script>
<script src="{{ site.theme.path}}/js/imagesloaded.pkgd.min.js"></script>
<script src="{{ site.theme.path}}/js/custom.js"></script>
<!-- Scripts Js End -->