{% if fn('is_front_page') %}
    {% extends "base.twig" %}

    {% block content %}
        <div id="hero-and-body">
            <section class="hero-auto" id="hero">
                <div class="revolution-slider-wrapper">
                    <div class="revolution-slider" data-version="5.0" id="revolutionslider1">
                        <ul>
                            <li class="text-light" data-masterspeed="400" data-transition="fade">
                                <img alt="Slider image introduction" height="1158" src="{{TimberImage(post.get_field('hero_slider_1')).src}}" width="1920">
                                <div class="tp-caption scopeweb-caption align-center" data-basealign="slide" data-fontsize="['52','44','32','22']" data-frames='[{"delay":300,"speed":800,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power2.easeOut"},{"delay":"wait","speed":400,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]' data-height="auto" data-hoffset="['50','40','30','30']" data-lineheight="['74','66','46','36']" data-responsive_offset="on" data-start="1000" data-voffset="0" data-whitespace="['normal','normal','normal','normal']" data-width="['700', '600', '440', '260']" data-x="left" data-y="center">
                                    {{post.get_field('hero_slider_1_text')}}
                                </div>
                            </li>
                            <li class="text-light" data-masterspeed="400" data-transition="fade">
                                <img alt="Slider image GivEasy" height="1300" src="{{TimberImage(post.get_field('hero_slider_2')).src}}" width="1920">
                                <div class="tp-caption scopeweb-caption align-center" data-basealign="slide" data-fontsize="['52','44','32','22']" data-frames='[{"delay":300,"speed":800,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power2.easeOut"},{"delay":"wait","speed":400,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]' data-height="auto" data-hoffset="['50','40','30','30']" data-lineheight="['74','66','46','36']" data-responsive_offset="on" data-start="1000" data-voffset="0" data-whitespace="['normal','normal','normal','normal']" data-width="['700', '600', '440', '260']" data-x="left" data-y="center">
                                    {{post.get_field('hero_slider_2_text')}}
                                </div>
                                <div class="tp-caption align-center" data-basealign="slide" data-height="auto" data-hoffset="['50','40','30','30']" data-responsive_offset="on" data-start="700" data-transform_idle="o:1;sX:1;sY:1" data-transform_in="o:0;s:600;sX:0.9;sY:0.9;e:Power3.easeInOut;" data-transform_out="o:0;s:300;sX:0.9;sY:0.9;" data-voffset="['140', '140', '110', '110']" data-whitespace="nowrap" data-width="auto" data-x="left" data-y="center">
                                    <a class="sr-button style-3 button-small" href="{{post.get_field('hero_slider_2_url')}}">View Project</a>
                                </div>
                            </li>
                            <li class="text-light" data-masterspeed="400" data-transition="fade">
                                <img alt="Slider image Bayron" height="1243" src="{{TimberImage(post.get_field('hero_slider_3')).src}}" width="1920">
                                <div class="tp-caption scopeweb-caption align-center" data-basealign="slide" data-fontsize="['52','44','32','22']" data-frames='[{"delay":300,"speed":800,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power2.easeOut"},{"delay":"wait","speed":400,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]' data-height="auto" data-hoffset="['50','40','30','30']" data-lineheight="['74','66','46','36']" data-responsive_offset="on" data-start="1000" data-voffset="0" data-whitespace="['normal','normal','normal','normal']" data-width="['700', '600', '440', '260']" data-x="left" data-y="center">
                                    {{ post.get_field('hero_slider_3_text')}}
                                </div>
                                <div class="tp-caption align-center" data-basealign="slide" data-height="auto" data-hoffset="['50','40','30','30']" data-responsive_offset="on" data-start="700" data-transform_idle="o:1;sX:1;sY:1" data-transform_in="o:0;s:600;sX:0.9;sY:0.9;e:Power3.easeInOut;" data-transform_out="o:0;s:300;sX:0.9;sY:0.9;" data-voffset="['140', '140', '110', '90']" data-whitespace="nowrap" data-width="auto" data-x="left" data-y="center">
                                    <a class="sr-button style-3 button-small" href="{{ base_url }}/case-studies/bayron/">View Project</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <a class="left text-light" href="#" id="scrolldown">
                    <svg class="arrow arrow-bottom" viewbox="0 0 60 35.35" xmlns="http://www.w3.org/2000/svg">
                        <title>back-arrow</title>
                        <path d="M0,16.88a3,3,0,0,0,.16.94,1.51,1.51,0,0,0,.63.78l15,15a2.14,2.14,0,0,0,3.52.08,2.14,2.14,0,0,0-.08-3.52L8.59,19.38H57.5a2.5,2.5,0,1,0,0-5H8.59L19.22,3.59A2.14,2.14,0,0,0,19.3.08a2.14,2.14,0,0,0-3.52.08l-15,15a1.51,1.51,0,0,0-.62.78A3,3,0,0,0,0,16.88Z"></path>
                    </svg>
                    <span class="text">Scroll Down</span></a>
            </section>
            <section id="page-body">
                <div class="spacer-big hidden-768"></div>
                <div class="spacer-big hidden-768"></div>
                <div class="wrapper-small hidden-768">
                    <h2>{{post.get_field('home_main_title')}}</h2>
                </div>
                <div class="spacer-big hidden-768"></div>
                <div class="spacer-big hidden-768"></div>
                <div class="wrapper">
                    <div class="column-section clearfix">
                        <div class="column one-third hidden-768">
                            <h3>{{post.get_field('home_about_column_1_title')}}</h3>
                            <h5 class="mt-50">{{post.get_field('home_about_column_1_text')}}</h5>
                        </div>
                        <div class="column one-third hidden-768">
                            <h3>{{post.get_field('home_about_column_2_title')}}</h3>
                            <h5 class="mt-50">{{post.get_field('home_about_column_2_text')}}</h5>
                        </div>
                        <div class="column one-third last-col">
                            <h3>{{post.get_field('home_about_column_3_title')}}</h3>
                            <h5 class="mt-50">{{post.get_field('home_about_column_3_text')}}</h5>
                        </div>
                    </div>
                </div>
                <div class="spacer-big"></div>
                <div class="form-row align-center">
                    <div class="btn" value="View all services"/>
                        <a href="{{ site.path }}/services/" class="sr-button">View our services</a>
                    </div>
                </div>
                <div class="spacer-big"></div>
                <div class="spacer-big hidden-768"></div>
                <div class="isotope-grid portfolio-container style-column-2 clearfix text-light" id="portfolio-grid">
                    <div class="isotope-item portfolio-item double-width">
                        <div class="portfolio-item-inner item-inner">
                            <a class="thumb-hover scale text-light" href="{{ post.get_field('home_portfolio_1_url')}}"><img alt="Ultrabse product development" class="lazy" data-src="{{TimberImage(post.get_field('home_portfolio_image_1')).src}}" height="800" width="1920">
                                <div class="overlay-caption bottom align-left">
                                    <span class="caption-sub portfolio-category">{{ post.get_field('home_portfolio_1_category')}}</span>
                                    <h2 class="caption-name portfolio-name">{{ post.get_field('home_portfolio_1_name')}}</h2>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="isotope-item portfolio-item">
                        <div class="portfolio-item-inner item-inner">
                            <a class="thumb-hover scale text-light" href="{{ post.get_field('home_portfolio_2_url')}}"><img alt="GoRemote product concept" class="lazy" data-src="{{TimberImage(post.get_field('home_portfolio_image_2')).src}}" height="800" width="960">
                                <div class="overlay-caption bottom align-left">
                                    <span class="caption-sub portfolio-category">{{ post.get_field('home_portfolio_2_category')}}</span>
                                    <h2 class="caption-name portfolio-name">{{ post.get_field('home_portfolio_2_name')}}</h2>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="isotope-item portfolio-item">
                        <div class="portfolio-item-inner item-inner">
                            <a class="thumb-hover text-light videobg-section" data-phatmp4="{{ site.theme.path }}/assets/uploads/agency.mp4">
                                <img alt="Scope Web video" class="lazy" data-src="{{ site.theme.path }}/assets/uploads/portfolio-thumb-agency.jpg" height="680" width="960">
                                <div class="overlay-caption bottom align-left">
                                    <span class="caption-sub portfolio-category">About Our Agency</span>
                                    <h2 class="caption-name portfolio-name">Get to know Scope Web</h2>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="isotope-item portfolio-item">
                        <div class="portfolio-item-inner item-inner">
                            <a class="thumb-hover scale text-light" href="{{ post.get_field('home_portfolio_3_url')}}"><img alt="Gemini Gas Springs" class="lazy" data-src="{{TimberImage(post.get_field('home_portfolio_image_3')).src}}" height="800" width="960">
                                <div class="overlay-caption bottom align-left">
                                    <span class="caption-sub portfolio-category">{{ post.get_field('home_portfolio_3_category')}}</span>
                                    <h2 class="caption-name portfolio-name">{{ post.get_field('home_portfolio_3_name')}}</h2>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="isotope-item portfolio-item">
                        <div class="portfolio-item-inner item-inner">
                            <a class="thumb-hover scale text-light" href="{{ post.get_field('home_portfolio_4_url')}}"><img alt="Bayron Home Improvements" class="lazy" data-src="{{TimberImage(post.get_field('home_portfolio_image_4')).src}}" height="680" width="960">
                                <div class="overlay-caption bottom align-left">
                                    <span class="caption-sub portfolio-category">{{ post.get_field('home_portfolio_4_category')}}</span>
                                    <h2 class="caption-name portfolio-name">{{ post.get_field('home_portfolio_4_name')}}</h2>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="spacer-big"></div>
                <div class="spacer-big hidden-768"></div>
                <div class="wrapper-small">
                    <h3 class="align-center">{{post.get_field('homepage_title_two')}}</h3>
                    <div class="spacer-medium"></div>
                    <h4 class="align-center title-alt">{{post.get_field('homepage_brands_subtitle')}}</h4>
                    <div class="spacer-medium"></div>
                </div>
                <p class="align-center do-anim"><img alt="Scope Web logo dark" src="{{TimberImage(post.get_field('brand_images_1')).src}}"></p>
                <div class="spacer-medium"></div>
                <p class="align-center do-anim"><img alt="Scope Web logo light" src="{{TimberImage(post.get_field('brand_images_2')).src}}"></p>
                <div class="spacer-big"></div>
                <div class="spacer-big hidden-768"></div>
                <div class="wrapper">
                    <h3 class="align-center">From our Blog</h3>
                    <div class="spacer-big"></div>
                    <div class="isotope-grid style-column-3 isotope-spaced-big" id="blog-grid">
                        {% for post in latest %}
                            <div class="blog-item isotope-item">
                                <div class="blog-item-inner item-inner">
                                    <div class="blog-media do-anim-modern">
                                        <a class="thumb-hover scale" href="{{ post.link }}">
                                            <img alt="Blog post image" class="lazy" data-src="{{ post.thumbnail.src }}" height="900" width="1200">
                                        </a>
                                    </div>
                                    <div class="blog-info">
                                        <div class="post-meta clearfix">
                                            <span class="post-date">{{ post.date }}</span>
                                            <span class="post-cat">
                                                <a href="{{ post.link }}">{{ post.terms('category') | join(', ') }}</a>
                                            </span>
                                        </div>
                                        <h3 class="post-name">
                                            <a href="{{ post.link }}">{{ post.title|length > 35 ? post.title|slice(0, 35)|raw ~ '...' : post.title|raw }}</a>
                                        </h3>
                                        <p>{{ post.preview|length > 200 ? post.preview|slice(0, 200)|raw ~ '...' : post.preview|raw }}</p>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="spacer-big"></div>
                    <div class="spacer-big hidden-768"></div>

                    <div class="fullwidth-section text-light" style="background: #000000;">
                        <div class="fullwidth-content wrapper-small align-center">
                            <h3 class="title-alt">Ready to start your Project?
                                <a href="{{ base_url }}/contact">
                                    <strong>Click here</strong>
                                </a>
                            </h3>
                            <div class="spacer-small"></div>
                            <h5 class="title-alt">... or call us at +1 570 580 7737</h5>
                        </div>
                    </div>
                </section>
            </div>
        {% endblock %}
    {% endif %}