{% extends "base.twig" %}

{% block content %}
    <!-- Page Heading Section Start -->
    <div class="pagehding-sec">
        <div class="images-overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="page-heading">
                        <h1>Services</h1>
                    </div>
                    <div class="breadcrumb-list">
                        <ul>
                            <li>
                                <a href="index.html">Home</a>
                            </li>
                            <li>
                                <a href="#">Services</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Page Heading Section End -->
    <!-- Service Section Start -->
    <div class="service pt-100 pb-70">
        <div class="container">
            <div class="row">
                <div class="service-item">
                    <div class="col-md-3 col-sm-6">
                        <div class="inner-box">
                            <div class="inner">
                                <div class="media">
                                    <div class="service-icon">
                                        <img src="{{ site.theme.path }}/img/icon/web.png" alt=""/>
                                    </div>
                                    <div class="service-content">
                                        <h2>
                                            <a href="#">Web Development</a>
                                        </h2>
                                        <p>Expedita morbi ut a nulla, dignissim adipiscing fermentum magna. Sodales eget in, morbi et. Neque fringilla nunc
                                        </p>
                                    </div>
                                </div>
                                <div class="service-readmore">
                                    <a href="#" class="service-button">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="inner-box">
                            <div class="inner">
                                <div class="media">
                                    <div class="service-icon">
                                        <img src="{{ site.theme.path }}/img/icon/tablet.png" alt=""/>
                                    </div>
                                    <div class="service-content">
                                        <h2>
                                            <a href="#">App Development</a>
                                        </h2>
                                        <p>Expedita morbi ut a nulla, dignissim adipiscing fermentum magna. Sodales eget in, morbi et. Neque fringilla nunc
                                        </p>
                                    </div>
                                </div>
                                <div class="service-readmore">
                                    <a href="#" class="service-button">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="inner-box">
                            <div class="inner">
                                <div class="media">
                                    <div class="service-icon">
                                        <img src="{{ site.theme.path }}/img/icon/pen.png" alt=""/>
                                    </div>
                                    <div class="service-content">
                                        <h2>
                                            <a href="#">Graphic Design</a>
                                        </h2>
                                        <p>Expedita morbi ut a nulla, dignissim adipiscing fermentum magna. Sodales eget in, morbi et. Neque fringilla nunc
                                        </p>
                                    </div>
                                </div>
                                <div class="service-readmore">
                                    <a href="#" class="service-button">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="inner-box">
                            <div class="inner">
                                <div class="media">
                                    <div class="service-icon">
                                        <img src="{{ site.theme.path }}/img/icon/software.png" alt=""/>
                                    </div>
                                    <div class="service-content">
                                        <h2>
                                            <a href="#">SEO</a>
                                        </h2>
                                        <p>Expedita morbi ut a nulla, dignissim adipiscing fermentum magna. Sodales eget in, morbi et. Neque fringilla nunc
                                        </p>
                                    </div>
                                </div>
                                <div class="service-readmore">
                                    <a href="#" class="service-button">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="inner-box">
                            <div class="inner">
                                <div class="media">
                                    <div class="service-icon">
                                        <img src="{{ site.theme.path }}/img/icon/photo.png" alt=""/>
                                    </div>
                                    <div class="service-content">
                                        <h2>
                                            <a href="#">photography</a>
                                        </h2>
                                        <p>Expedita morbi ut a nulla, dignissim adipiscing fermentum magna. Sodales eget in, morbi et. Neque fringilla nunc
                                        </p>
                                    </div>
                                </div>
                                <div class="service-readmore">
                                    <a href="#" class="service-button">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="inner-box">
                            <div class="inner">
                                <div class="media">
                                    <div class="service-icon">
                                        <img src="{{ site.theme.path }}/img/icon/wp.png" alt=""/>
                                    </div>
                                    <div class="service-content">
                                        <h2>
                                            <a href="#">WordPress Development</a>
                                        </h2>
                                        <p>Expedita morbi ut a nulla, dignissim adipiscing fermentum magna. Sodales eget in, morbi et. Neque fringilla nunc
                                        </p>
                                    </div>
                                </div>
                                <div class="service-readmore">
                                    <a href="#" class="service-button">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="inner-box">
                            <div class="inner">
                                <div class="media">
                                    <div class="service-icon">
                                        <img src="{{ site.theme.path }}/img/icon/pen.png" alt=""/>
                                    </div>
                                    <div class="service-content">
                                        <h2>
                                            <a href="#">Branding</a>
                                        </h2>
                                        <p>Expedita morbi ut a nulla, dignissim adipiscing fermentum magna. Sodales eget in, morbi et. Neque fringilla nunc
                                        </p>
                                    </div>
                                </div>
                                <div class="service-readmore">
                                    <a href="#" class="service-button">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="inner-box">
                            <div class="inner">
                                <div class="media">
                                    <div class="service-icon">
                                        <img src="{{ site.theme.path }}/img/icon/software.png" alt=""/>
                                    </div>
                                    <div class="service-content">
                                        <h2>
                                            <a href="#">Digital Marketing</a>
                                        </h2>
                                        <p>Expedita morbi ut a nulla, dignissim adipiscing fermentum magna. Sodales eget in, morbi et. Neque fringilla nunc
                                        </p>
                                    </div>
                                </div>
                                <div class="service-readmore">
                                    <a href="#" class="service-button">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Service Section End -->
{% endblock %}