{% extends "base.twig" %}

{% block content %}
    <!-- HERO & BODY -->
    <div id="hero-and-body">

        <!-- HERO -->
        <section id="hero" class="hero-big" style="background: url({{ site.theme.path }}/assets/uploads/about-1.jpg); background-size: cover; background-position: center center;">
            <div id="page-title" class="wrapper">
                <h1 class="h2">We are a full service agency<br>based in New York City</h1>
            </div>
        </section>
        <!-- HERO -->

        <!-- PAGEBODY -->
        <section id="page-body">

            <div class="wrapper">

                <div class="spacer-big"></div>

                <div class="column-section clearfix">
                    <div class="column one-fourth">
                        <h5 class="title-alt">
                            <strong>History</strong>
                        </h5>
                    </div>
                    <div class="column three-fourth last-col">
                        <h4>Since 2016, clients have trusted us to redefine their businesses through mobile innovation. Our integrated process of strategy, design, and engineering has a proven record of delivering unique products with a level of beauty and precision unrivaled in our industry.</h4>
                        <div class="spacer-medium"></div>
                        <h4>Our collaborative approach to problem-solving leverages years of experience bringing digital products to market. Whether you want to build the next ground-breaking mobile app, wearable, or hardware product, we provide a full range of strategy, design, and development services to get the job done.</h4>
                    </div>
                </div>
                <!-- END .column-section -->

                <div class="spacer-big"></div>

                <div class="column-section clearfix">
                    <div class="column one-fourth">
                        <h5 class="title-alt">
                            <strong>Services</strong>
                        </h5>
                    </div>
                    <div class="column one-fourth">
                        <ul class="nolist biglist">
                            <li>Branding</li>
                            <li>Art Direction</li>
                            <li>Marketing</li>
                        </ul>
                    </div>
                    <div class="column one-fourth">
                        <ul class="nolist biglist">
                            <li>Modern Layout</li>
                            <li>Great Options</li>
                            <li>Photography</li>
                        </ul>
                    </div>
                    <div class="column one-fourth last-col">
                        <ul class="nolist biglist">
                            <li>Architecture</li>
                            <li>Design</li>
                            <li>Project Managing</li>
                        </ul>
                    </div>
                </div>
                <!-- END .column-section -->

                <div class="spacer-big"></div>

            </div>
            <!-- END .wrapper -->

            <!-- The fullwidth section is only needed for the logo color switch -->
            <div class="fullwidth-section text-light" style="background: #000000;">
                <div class="fullwidth-content wrapper-big align-center">
                    <h3>We work with brands we believe in.</h3>
                    <div class="spacer-big"></div>
                    <p class="do-anim"><img src="{{ site.theme.path }}/assets/uploads/example-logos-big.png" alt="brand logos"></p>
                    <div class="spacer-big"></div>
                    <p class="do-anim"><img src="{{ site.theme.path }}/assets/uploads/example-logos-big-2.png" alt="brand logos"></p>
                </div>
            </div>

            <div class="spacer-big"></div>

            <div class="wrapper">

                <div class="column-section spaced-big clearfix">
                    <div class="column one-fifth">
                        <h5 class="title-alt">
                            <strong>Our Team</strong>
                        </h5>
                    </div>
                    <div class="column two-fifth">
                        <div class="team-member">
                            <div class="do-anim-modern">
                                <!-- div is only needed for the do-anim-modern effect -->
                                <img class="team-pic" src="{{ site.theme.path }}/assets/uploads/team-stephan.jpg" alt="Stephan Moerman">
                            </div>
                            <div class="team-infos">
                                <h4 class="team-name">Stephan Moerman</h4>
                                <h5 class="team-role">Co-Founder &amp; CTO</h5>
                            </div>
                        </div>
                        <div class="team-member">
                            <div class="do-anim-modern">
                                <!-- div is only needed for the do-anim-modern effect -->
                                <img class="team-pic" src="{{ site.theme.path }}/assets/uploads/team-dimitry.jpg" alt="Dimitry Miller">
                            </div>
                            <div class="team-infos">
                                <h4 class="team-name">Dimitry Miller</h4>
                                <h5 class="team-role">Search Engine Marketing</h5>
                            </div>
                        </div>
                    </div>
                    <div class="column two-fifth last-col">
                        <div class="team-member">
                            <div class="do-anim-modern">
                                <!-- div is only needed for the do-anim-modern effect -->
                                <img class="team-pic" src="{{ site.theme.path }}/assets/uploads/team-ray.jpg" alt="Ray Antonio">
                            </div>
                            <div class="team-infos">
                                <h4 class="team-name">Ray Antonio</h4>
                                <h5 class="team-role">Co-Founder &amp; CEO</h5>
                            </div>
                        </div>
                        <div class="team-member">
                            <div class="do-anim-modern">
                                <!-- div is only needed for the do-anim-modern effect -->
                                <img class="team-pic" src="{{ site.theme.path }}/assets/uploads/team-nathan.jpg" alt="Nathan Henniges">
                            </div>
                            <div class="team-infos">
                                <h4 class="team-name">Nathan Henniges</h4>
                                <h5 class="team-role">Junior Developer</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END .column-section -->

                <div class="spacer-big"></div>

                <div class="column-section spaced-big clearfix">
                    <div class="column one-fifth">
                        <h5 class="title-alt">
                            <strong>Awards</strong>
                        </h5>
                    </div>
                    <div class="column two-fifth do-anim">
                        <h3>Awards translate and recognize our talented Team.</h3>
                    </div>
                    <div class="column two-fifth do-anim last-col">
                        <ul class="nolist biglist">
                            <li>
                                <small style="color: rgba(0,0,0,0.3);">10 x</small>
                                <strong>Site of the Day</strong>
                                Awwwards</li>
                            <li>
                                <small style="color: rgba(0,0,0,0.3);">5 x</small>
                                <strong>Site of the Day</strong>
                                CSS Award</li>
                            <li>
                                <small style="color: rgba(0,0,0,0.3);">5 x</small>
                                Red Dot Award</li>
                            <li>
                                <small style="color: rgba(0,0,0,0.3);">2 x</small>
                                Webby Award</li>
                            <li>
                                <small style="color: rgba(0,0,0,0.3);">2 x</small>
                                Fwa Award</li>
                            <li>
                                <small style="color: rgba(0,0,0,0.3);">2 x</small>
                                <strong>Site of the Month</strong>
                                Awwwards</li>
                            <li>
                                <small style="color: rgba(0,0,0,0.3);">1 x</small>
                                UI Design Award</li>
                        </ul>
                    </div>
                </div>
                <!-- END .column-section -->

            </div>
            <!-- END .wrapper-big -->

            <div class="spacer-big"></div>

        </section>
        <!-- PAGEBODY -->

    </div>
    <!-- HERO & BODY -->
{% endblock %}