{% extends "base.twig" %}

{% block content %}
    <!-- HERO & BODY -->
    <div id="hero-and-body">

        <!-- HERO -->
        <section id="hero" class="hero-big">
            <div class="owl-slider hero-slider nav-light" data-autoplay="true" data-loop="true" data-dots="false">
                {% for post in featured %}
                    <div class="slider-item text-light">
                        <div class="bg-img" style="background-image:url('{{ post.thumbnail.src }}');"></div>
                        <a href="{{ post.link }}" class="sr-button style-3 button-small read-more">Read More</a>
                        <div class="owl-slider-caption bottom">
                            <h5 class="title-alt">{{ post.terms('category') | join(', ') }}</h5>
                            <div class="spacer-mini"></div>
                            <h2>
                                <strong>{{ post.title | slice(0, 45) ~ '...' }}</strong>
                            </h2>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <!-- END .owl-slider -->
        </section>
        <!-- HERO -->

        <!-- PAGEBODY -->
        <section id="page-body">
            <div class="spacer-medium"></div>

            <div id="blog-grid" class="isotope-grid style-column-3 isotope-spaced-big">
                {% for post in featured %}
                    <div class="blog-item isotope-item">
                        <div class="blog-item-inner item-inner do-anim">
                            <div class="blog-media">
                                <a href="blog-post.html" class="thumb-hover scale">
                                    <img src="{{ post.thumbnail.src }}" alt="SEO"/>
                                </a>
                            </div>

                            <div class="blog-info">
                                <div class="post-meta clearfix">
                                    <span class="post-date">May 8, 2018</span>
                                    <span class="post-cat">
                                        <a href="#">Web Development</a>
                                    </span>
                                </div>
                                <h3 class="post-name">
                                    <a href="blog-post.html">The Modern Man</a>
                                </h3>
                                <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone ...</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <!-- END grid -->

    <div class="spacer-medium"></div>

</section>
<!-- PAGEBODY -->

</div>
<!-- HERO & BODY -->

{% endblock %}