{% extends "base.twig" %}

{% block content %}

    <!-- HERO & BODY -->
    <div id="hero-and-body">

        <!-- HERO -->
        <section id="hero" class="hero-full text-light parallax-section" data-parallax-image="{{ site.theme.path }}/assets/uploads/goremote-casestudy-hero.jpg">

            <div id="page-title" class="wrapper-big">
                <h1>
                    <strong>GoRemote</strong>
                </h1>
                <div class="spacer-mini"></div>
                <h5>Product Concept</h5>
            </div>

        </section>
        <!-- HERO -->

        <!-- PAGEBODY -->
        <section id="page-body">

            <div class="spacer-big"></div>

            <div class="wrapper-small">
                <div class="column-section spaced-big clearfix">
                    <div class="column one-third">
                        <img src="{{ site.theme.path }}/assets/uploads/goremote-logo.png" srcset="{{ site.theme.path }}/assets/uploads/goremote-logo.png 1x, {{ site.theme.path }}/assets/uploads/goremote-logo.png 2x" alt="GoRemote logo">
                        <div class="spacer-medium"></div>
                        <h4>
                            <strong>What we did</strong>
                        </h4>
                        <ul class="nolist">
                            <li>Brand Identity</li>
                            <li>Web Development</li>
                            <li>Web Design</li>
                            <li>Search Engine Optimization</li>
                            <li>Hosting Architecture</li>
                        </ul>
                        <div class="spacer-medium"></div>
                        <p>
                            <a class="sr-button style-3 button-small">Coming soon</a>
                        </p>
                    </div>
                    <div class="column two-third last-col">
                        <p class="h5">GoRemote is a work-in-progress and is one of the bigger projects we are taking on as part of our product development team. By building SaaS platforms, we have gained the experience to service our clients even better. For this, we keep building side-ventures to keep our entrepreneurial spirits strong and fresh.</p>
                        <p class="h5">Job sites as they are right now suck, but it gets worse once you start looking for remote positions. Unfortunately many businesses have started abusing remote whilest requiring candidates to be within the same country as the businesses HQ. GoRemote jumps into this gap by becoming a platform for the digital nomads amongst us, only accepting job listings from businesses that let you work from anywhere around the world no matter your country of origin.</p>
                        <p class="h5">GoRemote is in active development and is expected to release in a beta launch late 2018. Keep an eye out on our
                            <a href="https://twitter.com/scopewebnyc" target="_blank">Twitter account</a>
                            to receive a beta invite.</p>
                    </div>
                </div>
                <!-- END .column-section -->
            </div>
            <!-- END .wrapper -->

            <div class="spacer-big"></div>

            <img src="{{ site.theme.path }}/assets/uploads/goremote-shot-1.jpg" alt="Goremote mockup images" style="width: 100%;">

            <div id="single-pagination" class="portfolio-pagination">
                <ul class="pagination">
                    <li class="prev">
                        <a href="{{ site.link }}/case-studies/ultrabse">
                            <span class="text">Previous</span>
                            <svg class="arrow arrow-left" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 60 35.35">
                                <title>back-arrow</title>
                                <path d="M0,16.88a3,3,0,0,0,.16.94,1.51,1.51,0,0,0,.63.78l15,15a2.14,2.14,0,0,0,3.52.08,2.14,2.14,0,0,0-.08-3.52L8.59,19.38H57.5a2.5,2.5,0,1,0,0-5H8.59L19.22,3.59A2.14,2.14,0,0,0,19.3.08a2.14,2.14,0,0,0-3.52.08l-15,15a1.51,1.51,0,0,0-.62.78A3,3,0,0,0,0,16.88Z"></path>
                            </svg>
                        </a>
                    </li>
                    <li class="back">
                        <a href="{{ site.link }}/case-studies/">
                            <span class="filter-icon">
                                <span></span></span></a>
                    </li>
                    <li class="next ">
                        <a href="{{ site.link }}/case-studies/gemini">
                            <span class="text">Next</span>
                            <svg class="arrow arrow-right" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 60 35.35">
                                <title>back-arrow</title>
                                <path d="M0,16.88a3,3,0,0,0,.16.94,1.51,1.51,0,0,0,.63.78l15,15a2.14,2.14,0,0,0,3.52.08,2.14,2.14,0,0,0-.08-3.52L8.59,19.38H57.5a2.5,2.5,0,1,0,0-5H8.59L19.22,3.59A2.14,2.14,0,0,0,19.3.08a2.14,2.14,0,0,0-3.52.08l-15,15a1.51,1.51,0,0,0-.62.78A3,3,0,0,0,0,16.88Z"></path>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
        </section>
        <!-- PAGEBODY -->

    </div>
    <!-- HERO & BODY -->
{% endblock %}