{% extends "base.twig" %}

{% block content %}
    <!-- HERO & BODY -->
    <div id="hero-and-body">

        <!-- HERO -->
        <section id="hero" class="hero-full text-light parallax-section" data-parallax-image="{{ site.theme.path }}/assets/uploads/bayron-casestudy-hero.jpg">

            <div id="page-title" class="wrapper-big">
                <h1>
                    <strong>Bayron</strong>
                </h1>
                <div class="spacer-mini"></div>
                <h5>Web Development &amp; Design</h5>
            </div>

        </section>
        <!-- HERO -->

        <!-- PAGEBODY -->
        <section id="page-body">

            <div class="spacer-big"></div>

            <div class="wrapper-small">
                <div class="column-section spaced-big clearfix">
                    <div class="column one-third">
                        <img src="{{ site.theme.path }}/assets/uploads/bayron-logo.png" srcset="{{ site.theme.path }}/assets/uploads/bayron-logo.png 1x, {{ site.theme.path }}/assets/uploads/bayron-logo@2x.png 2x" alt="Bayron logo">
                        <div class="spacer-medium"></div>
                        <h4>
                            <strong>What we did</strong>
                        </h4>
                        <ul class="nolist">
                            <li>Brand Identity</li>
                            <li>Web Development</li>
                            <li>Web Design</li>
                            <li>Search Engine Optimization</li>
                            <li>Email hosting</li>
                        </ul>
                        <div class="spacer-medium"></div>
                        <p>
                            <a href="https://www.bayroninc.com" target="_blank" class="sr-button style-3 button-small">Visit website</a>
                        </p>
                    </div>
                    <div class="column two-third last-col">
                        <p class="h5">A long term Scope Web Client, Bayron Home Improvements Inc. has offered a wide variety of home improvement and remodeling services to the Pocono Mountains areas for over 10 years. Bayron's customers appreciate his attention to detail and great communication skills, especially in an industry not known for outstanding customer service.</p>
                        <p class="h5">Despite being in business for a decade, like many local businesses Bayron Home Improvements Inc. still did not have a website. Since we started working with Bayron in December 2017, the company has established a strong reputation and became a contractor for The Home Depot. What makes a great website goes far beyond simple aesthetics. Post-launch, we’ve seen a vast improvement in Bayron's website performance</p>
                    </div>
                </div>
                <!-- END .column-section -->
            </div>
            <!-- END .wrapper -->

            <div class="spacer-big"></div>

            <img src="{{ site.theme.path }}/assets/uploads/bayron-shot-1.jpg" alt="Bayron landing slide two" style="width: 100%;">

            <div class="spacer-big"></div>

            <div class="wrapper-small">
                <h5 style="color: rgba(0,0,0,0.3);">
                    <strong>Brief</strong>
                </h5>
                <div class="spacer-medium"></div>
                <h2>Community. Improvements. Caring.</h2>
                <div class="spacer-medium"></div>
                <p class="h5">The only way Juan was marketing his business was through word of mouth, a car magnet and local advertising. However, due to the fact that he had no way to track the results of the advertising, he wasn’t really sure how well it was working. In addition, Juan didn’t have any marketing materials for his business other than a business card, which made it difficult to educate prospective customers about the range of services he offered. After completing a brand audit with our design team, Juan realized how much potential business he was missing out on by not having an online presence.</p>
                <div class="spacer-big"></div>
                <div class="align-center">
                    <img src="{{ site.theme.path }}/assets/uploads/bayron-shot-small.jpg" alt="Bayron landing page">
                </div>
            </div>
            <!-- END .wrapper -->

            <div class="spacer-big"></div>

            <img class="text-dark" src="{{ site.theme.path }}/assets/uploads/bayron-community.jpg" alt="Bayron community" style="width: 100%;">

            <div class="spacer-big"></div>

            <div class="wrapper-small">
                <h5 style="color: rgba(0,0,0,0.3);">
                    <strong>Finishing</strong>
                </h5>
                <div class="spacer-medium"></div>
                <h2>On to the next level</h2>
                <div class="spacer-medium"></div>
                <p class="h5">Before diving head-first into marketing and development tactics, Ray &amp; Stephan helped Juan develop a marketing strategy for his business that would really make him stand out from the competition. After analyzing the business's strengths and discussing the goals with him, our team recommended an agile but lean approach. Juan immediately understood what a big advantage our approach would give him over his competitors, so he readily agreed to the marketing strategy. 3 months later The Home Depot contacted and contracted him for the local area.</p>
            </div>
            <!-- END .wrapper -->

            <div class="spacer-big"></div>

            <div class="wrapper">
                <div class="align-center">
                    <img src="{{ site.theme.path }}/assets/uploads/bayron-future.jpg" alt="Bayron future">
                </div>

                <div class="spacer-big"></div>

                <div id="single-pagination" class="portfolio-pagination">
                    <ul class="pagination">
                        <li class="prev">
                            <a href="portfolio.html">
                                <span class="text">Previous</span>
                                <svg class="arrow arrow-left" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 60 35.35">
                                    <title>back-arrow</title>
                                    <path d="M0,16.88a3,3,0,0,0,.16.94,1.51,1.51,0,0,0,.63.78l15,15a2.14,2.14,0,0,0,3.52.08,2.14,2.14,0,0,0-.08-3.52L8.59,19.38H57.5a2.5,2.5,0,1,0,0-5H8.59L19.22,3.59A2.14,2.14,0,0,0,19.3.08a2.14,2.14,0,0,0-3.52.08l-15,15a1.51,1.51,0,0,0-.62.78A3,3,0,0,0,0,16.88Z"></path>
                                </svg>
                            </a>
                        </li>
                        <li class="back">
                            <a href="portfolio.html">
                                <span class="filter-icon">
                                    <span></span></span></a>
                        </li>
                        <li class="next ">
                            <a href="portfolio.html">
                                <span class="text">Next</span>
                                <svg class="arrow arrow-right" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 60 35.35">
                                    <title>back-arrow</title>
                                    <path d="M0,16.88a3,3,0,0,0,.16.94,1.51,1.51,0,0,0,.63.78l15,15a2.14,2.14,0,0,0,3.52.08,2.14,2.14,0,0,0-.08-3.52L8.59,19.38H57.5a2.5,2.5,0,1,0,0-5H8.59L19.22,3.59A2.14,2.14,0,0,0,19.3.08a2.14,2.14,0,0,0-3.52.08l-15,15a1.51,1.51,0,0,0-.62.78A3,3,0,0,0,0,16.88Z"></path>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- END .wrapper -->

        </section>
        <!-- PAGEBODY -->

    </div>
    <!-- HERO & BODY -->
{% endblock %}