{% extends "base.twig" %}

{% block content %}

    <!-- HERO & BODY -->
    <div id="hero-and-body">

        <!-- HERO -->
        <section id="hero" class="hero-full text-light parallax-section" data-parallax-image="{{ site.theme.path }}/assets/uploads/ultrabse-casestudy-hero.jpg">

            <div id="page-title" class="wrapper-big">
                <h1>
                    <strong>Ultrabse</strong>
                </h1>
                <div class="spacer-mini"></div>
                <h5>Product Development</h5>
            </div>

        </section>
        <!-- HERO -->

        <!-- PAGEBODY -->
        <section id="page-body">

            <div class="spacer-big"></div>

            <div class="wrapper-small">
                <div class="column-section spaced-big clearfix">
                    <div class="column one-third">
                        <img src="{{ site.theme.path }}/assets/uploads/ultrabse-logo.png" srcset="{{ site.theme.path }}/assets/uploads/ultrabse-logo.png 1x, {{ site.theme.path }}/assets/uploads/ultrabse-logo2x.png 2x" alt="GivEasy logo">
                        <div class="spacer-medium"></div>
                        <h4>
                            <strong>What we did</strong>
                        </h4>
                        <ul class="nolist">
                            <li>Strategy</li>
                            <li>Web Development</li>
                            <li>Web Design</li>
                            <li>Search Engine Optimization</li>
                            <li>Hosting architecture</li>
                        </ul>
                        <div class="spacer-medium"></div>
                        <p>
                            <a href="https://ultrabse.nu" target="_blank" class="sr-button style-3 button-small">Visit website</a>
                        </p>
                    </div>
                    <div class="column two-third last-col">
                        <p class="h5">Ultrabse uses the latest technology to help agencies and brands reduce costs and attract high-quality followers on Instagram. Ultrabse is a Scope Web product, helping agencies, influencers and brands grow their global audience through clever scheduling and automation.</p>
                        <p class="h5">Ultrabse allows users to engage with potential customers efficiently. Competition is fierce on Instagram for English-speaking customers. Many small businesses have a hard time keeping track of their Instagram content. Everything becomes uneven and you lose interest, weakening the online representation of your brand. Ultrabse allows you to streamline your team's social media routine, automatically like posts that mention your brand or comment on posts to get the attention your brand deserves.</p>
                    </div>
                </div>
                <!-- END .column-section -->
            </div>
            <!-- END .wrapper -->

            <div class="spacer-big"></div>

            <img src="{{ site.theme.path }}/assets/uploads/ultrabse-shot-1.jpg" alt="Ultrabse signup and login page" style="width: 100%;">

            <div class="spacer-big"></div>

            <div class="wrapper-small">
                <h5 style="color: rgba(0,0,0,0.3);">
                    <strong>Brief</strong>
                </h5>
                <div class="spacer-medium"></div>
                <h2>Action. Attraction. Retention.</h2>
                <div class="spacer-medium"></div>
                <p class="h5">Publishing is priority one. If it's not out there, you can't get the traffic. You definitely will want to have personal relationships with people who are passionate about the topics you're passionate about. But at the same time, you've got to get content out there in order to get traffic back. Ultrabse is amazing for doing lightweight publishing without a whole lot of overhead. Late 2018 Pro Analytics are being added which will make it even easier to publish at times that your audience is active using machine learning technology. Through a quick glance you can use Ultrabse as the content manager your business is missing out on.</p>
                <div class="spacer-big"></div>
                <div class="align-center">
                    <img src="{{ site.theme.path }}/assets/uploads/ultrabse-shot-small.jpg" alt="Ultrabse dashboard shot">
                </div>
            </div>
            <!-- END .wrapper -->

            <div class="spacer-big"></div>

            <img class="text-dark" src="{{ site.theme.path }}/assets/uploads/ultrabse-dashboard-analytics.jpg" alt="Ultrabse Analytics dashboard" style="width: 100%;">

            <div class="spacer-big"></div>

            <div class="wrapper-small">
                <h5 style="color: rgba(0,0,0,0.3);">
                    <strong>Finishing</strong>
                </h5>
                <div class="spacer-medium"></div>
                <h2>Moving forward.</h2>
                <div class="spacer-medium"></div>
                <p class="h5">Ultrabse is an ongoing project and was built to be a Minimum Viable Product. Prototype, launch and gather feedback is how we often work. We continually implement exactly what the Ultrabse audience wants. Our future decisions are backed by user data. We capture every interaction and constantly pivot to increase conversion. Every iteration creates another source of user experience feedback. This information allows us to pivot and increase relevancy. We don’t predict needs, we validate them.</p>
            </div>
            <!-- END .wrapper -->

            <div class="spacer-big"></div>

            <div class="wrapper">
                <div class="align-center">
                    <img src="{{ site.theme.path }}/assets/uploads/ultrabse-future.jpg" alt="Ultrabse future moving forward">
                </div>

                <div class="spacer-big"></div>

                <div id="single-pagination" class="portfolio-pagination">
                    <ul class="pagination">
                        <li class="prev">
                            <a href="portfolio.html">
                                <span class="text">Previous</span>
                                <svg class="arrow arrow-left" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 60 35.35">
                                    <title>back-arrow</title>
                                    <path d="M0,16.88a3,3,0,0,0,.16.94,1.51,1.51,0,0,0,.63.78l15,15a2.14,2.14,0,0,0,3.52.08,2.14,2.14,0,0,0-.08-3.52L8.59,19.38H57.5a2.5,2.5,0,1,0,0-5H8.59L19.22,3.59A2.14,2.14,0,0,0,19.3.08a2.14,2.14,0,0,0-3.52.08l-15,15a1.51,1.51,0,0,0-.62.78A3,3,0,0,0,0,16.88Z"></path>
                                </svg>
                            </a>
                        </li>
                        <li class="back">
                            <a href="portfolio.html">
                                <span class="filter-icon">
                                    <span></span></span></a>
                        </li>
                        <li class="next ">
                            <a href="portfolio.html">
                                <span class="text">Next</span>
                                <svg class="arrow arrow-right" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 60 35.35">
                                    <title>back-arrow</title>
                                    <path d="M0,16.88a3,3,0,0,0,.16.94,1.51,1.51,0,0,0,.63.78l15,15a2.14,2.14,0,0,0,3.52.08,2.14,2.14,0,0,0-.08-3.52L8.59,19.38H57.5a2.5,2.5,0,1,0,0-5H8.59L19.22,3.59A2.14,2.14,0,0,0,19.3.08a2.14,2.14,0,0,0-3.52.08l-15,15a1.51,1.51,0,0,0-.62.78A3,3,0,0,0,0,16.88Z"></path>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- END .wrapper -->

        </section>
        <!-- PAGEBODY -->

    </div>
    <!-- HERO & BODY -->

{% endblock %}