{% extends "base.twig" %}

{% block content %}

    <!-- HERO & BODY -->
    <div id="hero-and-body">

        <!-- HERO -->
        <section id="hero" class="hero-full text-light parallax-section" data-parallax-image="{{ site.theme.path }}/assets/uploads/giveasy-casestudy-hero.jpg">

            <div id="page-title" class="wrapper-big">
                <h1>
                    <strong>GivEasy</strong>
                </h1>
                <div class="spacer-mini"></div>
                <h5>Product Development</h5>
            </div>

        </section>
        <!-- HERO -->

        <!-- PAGEBODY -->
        <section id="page-body">

            <div class="spacer-big"></div>

            <div class="wrapper-small">
                <div class="column-section spaced-big clearfix">
                    <div class="column one-third">
                        <img src="{{ site.theme.path }}/assets/uploads/giveasy-logo.png" srcset="{{ site.theme.path }}/assets/uploads/giveasy-logo.png 1x, {{ site.theme.path }}/assets/uploads/giveasy-logo-2x.png 2x" alt="GivEasy logo">
                        <div class="spacer-medium"></div>
                        <h4>
                            <strong>What we did</strong>
                        </h4>
                        <ul class="nolist">
                            <li>Strategy</li>
                            <li>Brand Identity</li>
                            <li>Web Development</li>
                            <li>Web Design</li>
                            <li>Search Engine Optimization</li>
                        </ul>
                        <div class="spacer-medium"></div>
                        <p>
                            <a href="mailto:info@scopeweb.nyc?Subject=GivEasy information request" class="sr-button style-3 button-small">Request information</a>
                        </p>
                    </div>
                    <div class="column two-third last-col">
                        <p class="h5">The GivEasy platform was initially concepted at a Hackathon and launched late May 2018. The platform allows charities to get connected to donations and create an overview of available pickups consisting of canned food or clothing.</p>
                        <p class="h5">As well as creating a portal for both donators and charities with a strong representation and analysis of data, a key requirement was to limit the collection of data as well as limit the required steps for donators to remove any potential friction in the process. GivEasy became a persuasive tool for charities, using GeoLocation, to pickup donations within the desired radius. GivEasy has helped distribute, secure, host and aggregate the available data.</p>
                    </div>
                </div>
                <!-- END .column-section -->
            </div>
            <!-- END .wrapper -->

            <div class="spacer-big"></div>

            <img src="{{ site.theme.path }}/assets/uploads/giveasy-shot-1.jpg" alt="GivEasy donation clothing box" style="width: 100%;">

            <div class="spacer-big"></div>

            <div class="wrapper-small">
                <h5 style="color: rgba(0,0,0,0.3);">
                    <strong>Brief</strong>
                </h5>
                <div class="spacer-medium"></div>
                <h2>Intuitive. Generous. Refined.</h2>
                <div class="spacer-medium"></div>
                <p class="h5">After we identified that there was a clear opportunity, a gap in the market, to build a platform that would allow donators and charities to ease the transaction we undertook feasibility study into creating a community-donation driven platform. As GivEasy was a sharp pivot from the original platform idea, there was no clear branding or marketing strategy in place for the new platform. Through innovation consultancy, we worked closely together with multiple disciplines at our agency, to build the platform from the ground up, having a strong impact on shaping the brand and strategy into what it is today. Our value-driven approach put a strong emphasis on gaining an early traction and we quickly refactored our codebase from Hackathon idea to robust application.</p>
                <div class="spacer-big"></div>
                <div class="align-center">
                    <img src="{{ site.theme.path }}/assets/uploads/giveasy-shot-small.jpg" alt="GivEasy brief shot">
                </div>
            </div>
            <!-- END .wrapper -->

            <div class="spacer-big"></div>

            <img class="text-dark" src="{{ site.theme.path }}/assets/uploads/giveasy-wireframe.jpg" alt="GivEasy wireframe" style="width: 100%;">

            <div class="spacer-big"></div>

            <div class="wrapper-small">
                <h5 style="color: rgba(0,0,0,0.3);">
                    <strong>Finishing</strong>
                </h5>
                <div class="spacer-medium"></div>
                <h2>Redefining v2.</h2>
                <div class="spacer-medium"></div>
                <p class="h5">GivEasy definitely was one of the most rewarding projects we have worked on at Scope Web. Everyone involved dedicated a lot of their time, without taking any payment for doing so, towards building a sustainable platform that can redefine the way we accept or collect donations. As it stands right now, we are rethinking our strategy to launch an even stronger second version next year. Meanwhile, we continue to work on other products for internal usage and clients. We're excited about the road ahead of us!</p>
            </div>
            <!-- END .wrapper -->

            <div class="spacer-big"></div>

            <div class="wrapper">
                <div class="align-center">
                    <img src="{{ site.theme.path }}/assets/uploads/giveasy-future.jpg" alt="GivEasy future version 2">
                </div>

                <div class="spacer-big"></div>

                <div id="single-pagination" class="portfolio-pagination">
                    <ul class="pagination">
                        <li class="prev">
                            <a href="{{ site.link }}/case-studies/gemini/">
                                <span class="text">Previous</span>
                                <svg class="arrow arrow-left" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 60 35.35">
                                    <title>back-arrow</title>
                                    <path d="M0,16.88a3,3,0,0,0,.16.94,1.51,1.51,0,0,0,.63.78l15,15a2.14,2.14,0,0,0,3.52.08,2.14,2.14,0,0,0-.08-3.52L8.59,19.38H57.5a2.5,2.5,0,1,0,0-5H8.59L19.22,3.59A2.14,2.14,0,0,0,19.3.08a2.14,2.14,0,0,0-3.52.08l-15,15a1.51,1.51,0,0,0-.62.78A3,3,0,0,0,0,16.88Z"></path>
                                </svg>
                            </a>
                        </li>
                        <li class="back">
                            <a href="{{ site.link }}/case-studies/">
                                <span class="filter-icon">
                                    <span></span></span></a>
                        </li>
                        <li class="next ">
                            <a href="{{ site.link }}/case-studies/bayron/">
                                <span class="text">Next</span>
                                <svg class="arrow arrow-right" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 60 35.35">
                                    <title>back-arrow</title>
                                    <path d="M0,16.88a3,3,0,0,0,.16.94,1.51,1.51,0,0,0,.63.78l15,15a2.14,2.14,0,0,0,3.52.08,2.14,2.14,0,0,0-.08-3.52L8.59,19.38H57.5a2.5,2.5,0,1,0,0-5H8.59L19.22,3.59A2.14,2.14,0,0,0,19.3.08a2.14,2.14,0,0,0-3.52.08l-15,15a1.51,1.51,0,0,0-.62.78A3,3,0,0,0,0,16.88Z"></path>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- END .wrapper -->

        </section>
        <!-- PAGEBODY -->

    </div>
    <!-- HERO & BODY -->

{% endblock %}