{% extends "base.twig" %}

{% block content %}
    <!-- HERO & BODY -->
    <div id="hero-and-body">

        <!-- HERO -->
        <section id="hero" class="hero-big">
            <div id="page-title" class="wrapper">
                <h1 class="h2">Scope Web Case Studies</h1>
                <h5 class="title-alt">See our work, get to know our strengths</h5>
            </div>
        </section>
        <!-- HERO -->

        <!-- PAGEBODY -->
        <section id="page-body">

            <div class="wrapper">
                <div id="portfolio-grid" class="isotope-grid portfolio-container style-column-2 isotope-spaced fitrows clearfix">
                    <div class="isotope-item portfolio-item branding">
                        <div class="portfolio-item-inner item-inner do-anim-modern">
                            <a href="{{ site.link }}/case-studies/bayron" class="thumb-hover overlay-color scale text-light">
                                <img src="{{ site.theme.path }}/assets/uploads/bayron-shot-1.jpg" alt="Bayron Home Improvements Inc.">
                                <div class="overlay-caption hidden">
                                    <span class="caption-sub portfolio-category">Web Development &amp; Design</span>
                                    <h4 class="caption-name portfolio-name">
                                        <strong>Bayron</strong>
                                    </h4>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="isotope-item portfolio-item advertising">
                        <div class="portfolio-item-inner item-inner do-anim-modern">
                            <a href="{{ site.link }}/case-studies/ultrabse" class="thumb-hover overlay-color scale text-light">
                                <img src="{{ site.theme.path }}/assets/uploads/ultrabse-shot-1.jpg" alt="Ultrabse">
                                <div class="overlay-caption hidden">
                                    <span class="caption-sub portfolio-category">Product Development</span>
                                    <h4 class="caption-name portfolio-name">
                                        <strong>Ultrabse</strong>
                                    </h4>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="isotope-item portfolio-item digital">
                        <div class="portfolio-item-inner item-inner do-anim-modern">
                            <a href="{{ site.link }}/case-studies/goremote" class="thumb-hover overlay-color scale text-light">
                                <img src="{{ site.theme.path }}/assets/uploads/goremote-shot-1.jpg" alt="GoRemote">
                                <div class="overlay-caption hidden">
                                    <span class="caption-sub portfolio-category">Product Concept</span>
                                    <h4 class="caption-name portfolio-name">
                                        <strong>GoRemote</strong>
                                    </h4>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="isotope-item portfolio-item digital ">
                        <div class="portfolio-item-inner item-inner do-gemini-modern">
                            <a href="{{ site.link }}/case-studies/gemini" class="thumb-hover overlay-color scale text-light">
                                <img src="{{ site.theme.path }}/assets/uploads/gemini-gas-springs-shot-1.jpg" alt="Gemini Gas Springs Inc.">
                                <div class="overlay-caption hidden">
                                    <span class="caption-sub portfolio-category">Web Development &amp; Design</span>
                                    <h4 class="caption-name portfolio-name">
                                        <strong>Gemini Gas Springs</strong>
                                    </h4>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="isotope-item portfolio-item branding ">
                        <div class="portfolio-item-inner item-inner do-anim-modern">
                            <a href="{{ site.link }}/case-studies/giveasy" class="thumb-hover overlay-color scale text-light">
                                <img src="{{ site.theme.path }}/assets/uploads/giveasy-shot-1.jpg" alt="GivEasy">
                                <div class="overlay-caption hidden">
                                    <span class="caption-sub portfolio-category">Product Development</span>
                                    <h4 class="caption-name portfolio-name">
                                        <strong>GivEasy</strong>
                                    </h4>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- END grid -->

                <div class="spacer-medium"></div>
                <div class="load-isotope align-center">
                    <a href="portfolio-page-2.html" class="sr-button style-3 button-small" data-related-grid="portfolio-grid" data-method="infiniteload">Load More</a>
                    <span class="load-message">No more items to show</span>
                </div>

            </div>
            <!-- END .wrapper -->

            <div class="spacer-big"></div>

        </section>
        <!-- PAGEBODY -->

    </div>
    <!-- HERO & BODY -->
{% endblock %}