{% extends "base.twig" %}

{% block content %}
    <!-- HERO & BODY -->
    <div id="hero-and-body">

        <!-- HERO -->
        <section id="hero" class="hero-auto">

            <div id="page-title" class="wrapper align-center">
                <span class="post-cat">
                    <a href="{{ post.link }}">{{ post.terms('category') | join(', ') }}</a>
                </span>
                <div class="spacer-small"></div>
                <div class="post-name">
                    <h1>{{ post.title }}</h1>
                </div>
                <div class="post-meta">
                    <span class="post-date">{{ post.date }}</span>
                </div>
                <br>
                <div class="post-meta">
                    <span class="post-author">Author:
                        {{ post.author }}</span>
                </div>
            </div>
            <!-- END #page-title -->

        </section>
        <!-- HERO -->

        <!-- PAGEBODY -->
        <section id="page-body">

            <div id="blog-single">
                <div class="blog-media">
                    <img src="{{ post.thumbnail.src|resize(900, 600) }}" alt="blog post header">
                </div>

                <div class="blog-content wrapper-small">
                    {{post.content}}
                    <div class="spacer-small"></div>
                    <!-- Go to www.addthis.com/dashboard to customize your tools --> <div class="addthis_inline_share_toolbox"></div>
                </div>

                <div class="wrapper-small">
                    <div class="spacer-big"></div>

                    <div class="column-section clearfix">
                        <div class="column one-full">
                            <!-- Begin Mailchimp Signup Form -->
                            <div id="mailchimp">
                                <form action="https://nyc.us19.list-manage.com/subscribe/post?u=5b30200a7171ca08bf6501ce7&amp;id=a528350254" class="validate" id="mc-embedded-subscribe-form" method="post" name="mc-embedded-subscribe-form" novalidate="" target="_blank">
                                    <div id="mc_embed_signup_scroll">
                                        <h2>Sharing is caring</h2>
                                        <h5 class="title-alt" style="margin-bottom: 10px;">Once a month, the best tips to grow your online business.</h5><input class="required email" id="mce-EMAIL" name="EMAIL" onblur="if(this.value=='')this.value=this.defaultValue;" onfocus="if(this.value==this.defaultValue)this.value='';" size="30" type="email" value="Enter your email">
                                        <div class="clear" id="mce-responses">
                                            <div class="response" id="mce-error-response" style="display:none"></div>
                                            <div class="response" id="mce-success-response" style="display:none"></div>
                                        </div>
                                        <div class="clear">
                                            <input class="button" id="mc-embedded-subscribe" name="subscribe" style="margin-top: 15px;" type="submit" value="Make me smart">
                                        </div>
                                    </div>
                                </form>
                            </div><!--End mc_embed_signup-->
                        </div>
                    </div>

                    <div class="spacer-big"></div>
                    <div class="spacer-big"></div>

                    <div id="disqus_thread"></div>
                    <script>

                    /**
                    *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                    *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
                    /*
                    var disqus_config = function () {
                    this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
                    this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                    };
                    */
                    (function() { // DON'T EDIT BELOW THIS LINE
                    var d = document, s = d.createElement('script');
                    s.src = 'https://scopeweb.disqus.com/embed.js';
                    s.setAttribute('data-timestamp', +new Date());
                    (d.head || d.body).appendChild(s);
                    })();
                    </script>
                    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                    <script id="dsq-count-scr" src="//scopeweb.disqus.com/count.js" async></script>
                </div>
                <!-- END .wrapper-small -->
            </div>
            <div class="spacer-small"></div>

        </section>
        <!-- PAGEBODY -->

    </div>
    <!-- HERO & BODY -->
    <!-- Go to www.addthis.com/dashboard to customize your tools --> <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5bad2d7d8419ba47"></script>
{% endblock %}
